<div class="jumbotron" id="add-book-header">
</div>

<div class="color-contain">

  <%=render 'search_books' %>
  <%=render 'browse_books' %>

  <div id="add-success">
  </div>

  <%=render 'search_results' %> 

</div>
