<div class="jumbotron" id="add-book-header">
</div>


<div class="col-md-12">
  <h2>Search by title or author:</h2> <input type="text" id="testing"></input>&nbsp;<button id="entering">search</button><br><br><br>
</div>
<div class="col-md-12 browse-row">
  <h2>Or browse by:</h2>
  <button id="addByTitle">Title</button>
  <button id="addByAuthor">Author</button>
</div>

<div id="add-success">
</div>

<div id="search-results" class="row">
</div>


<%= render 'books_by_title' %>
<%= render 'books_by_author' %>
