<div class="col-md-12 new-shelf-intro">
  <h1>Welcome!</h1>
  <br>
  <h2>Let's get started by adding a book to your bookshelf.</h2>
  <%=link_to "Create Bookshelf", bookshelves_path, method: 'post', id: "create-bookshelf" %>
</div>
