<h1> Search Results: </h1>

<%@res.each do |book| %>
  <h1><%=book.title%></h1>
  <h2><%=book.author%></h2>
  <img src='<%=book.image%>'></img><br>
  <button id="addBySearch">Add to your shelf</button>
<% end %>
