body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

#author-sorted, #title-sorted, #edit-title-sorted, #edit-author-sorted {
  display: none;
}


/* //// NAVBAR /////// */

.navbar {
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar a {
  color: black;
}

/* JUMBOTRON BANNER */

#bookshelf-header  {
  text-align: center;
  background-image:url('//cdn.shopify.com/s/files/1/0726/9203/collections/Header_Classics-R_2048x2048.jpg?v=1434997784');
  background-repeat: no-repeat;
  background-position:center;
  background-color: white;
  margin-top: 3%;
}

/* ////// BOOKSHELF PAGE ///// */

#book-count-banner {
  text-align:center;
}

#book-count-banner h1 {
  font-size: 3.5em;
}

span.book-count {
  color: darkred;
}

#add-books-button {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 4%;
}

.add-book-button {
  color: slategray;
  font-size: 1.5em;
  border: 5px solid slategray;
  padding: 0.5%;
}

.add-book-button:hover {
  text-decoration: none;
  color: white;
  background-color: slategray;
}

.book-cover {
  max-height: 400px;
}

.all-the-books {
  background-color: slategray;
  padding-top: 4%;
  padding-bottom: 4%;
  margin: 0 auto;
  margin-top: 4%;
  padding-left: 2%;
}

.book-details {
  color: black;
  margin-bottom: 3%;
}

.book-details h2 {
  margin-top: 4%;
}

.book-details h3 {
  margin-top: 3%;
}

.book-details a {
  color: aliceblue;
}

.fixed-img-div {
  max-height: 400px;
  overflow-y: scroll;
}

.fixed-img-div {
  font-size: 1.5em;
}

#sort-options {
  background-color: slategray;
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 1%;
  border-bottom: 1px solid white;
}

.shelf-sort-button {
  color: white;
  background-color: black;
}

.col-xs-12 {
  margin: 0 auto;
}

a.nyrb-link {
  color: floralwhite;
}

a.nyrb-link:hover {
  color: tan;
}


/*///////// ADD BOOKS /////// */

#add-book-header {
  text-align: center;
  background-image:url('//cdn.shopify.com/s/files/1/0726/9203/t/3/assets/logo-classics.png?8182576256857352121');
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
  background-position: center;
  background-color: white;
  margin-top: 3%;
}

.search-image-result {
  max-height: 300px;
}

.browse-row {
  background-color: white;
  padding-bottom: 2%;
  margin-top: 0;
}

.browse-row h2 {
  margin-top: 0;
  padding-top: 2%;
}

.book-details .back-to-shelf {
  color: darkred;
}

.book-details {
  margin-bottom: 1%;
}

#search-results {
  background-color: slategray;
  padding-left: 2%;
  padding-bottom: 2%;
}

.hidden-class {
  display: none;
}

.visible-class {
  display: inline;
}

.contain-search {
  height: 300px;
  display: block;
}

.book-details button {
  margin-top: 2%;
}

.color-contain {
  height: 100%;
  background-color: slategray;
}

.search-bar-strip {
  background-color: black;
  margin-bottom: 0;
}

.search-bar-strip h2 {
  color: white;
  margin-top: 0;
  padding-top: 2%;
}

.found-book {
  padding-top: 2%;
}

.letter-bar {
  text-align: center;
  display: none;
  font-size: 1.25em;
  color: white;
  background-color: black;
  z-index: 1000;
}

.letter-bar.fixed {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;

}

.letter-bar p {
  padding-top: 2%;
}

#contain-search-results {
  overflow-y:scroll;
  width: 100%;
}

.letter {
  padding-right: 1%;
  padding-left: 1%;
}

.letter:hover {
  color: yellow;
  cursor: pointer;
}
